<h1>sign up</h1>

<form action='/register' method='POST'>
  <input type="text" name='username' placehodler='username'>
  <input type="password" name='password' placehodler='password'>
  <button>Sign up</button>
</form>
